html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #323232;
  background-size: cover;
}

.logo {
  line-height: 40px;
  float: left;
  margin: 1.2em 0 0 2.2em;
  font-weight: bolder;
  color: #ffffff;
}

.nav {
  line-height: 40px;
  margin: 1.2em;
  position: absolute;
  right: 0;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  padding-right: 36px;
}

.social-media {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.social-media ul li {
  list-style: none;
  color: #ffffff;
  padding-top: 20px;
}

.side-strip {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -4em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #ffffff;
  letter-spacing: 4px;
}

.header {
  position: absolute;
  top: 38%;
  left: 46%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header h1 {
  color: #ffffff;
  font-weight: bolder;
}

.header p {
  color: #ffffff;
  font-weight: lighter;
}

.header button {
  margin-top: 12px;
  border: 1px solid #fff;
  padding: 16px 40px;
  color: #fff;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 12px;
  background: transparent;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
}

.header button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
}

.header button:hover {
  border: 1px solid transparent;
}

.header button:hover:before {
  -webkit-animation: borderLine 1s linear forwards;
          animation: borderLine 1s linear forwards;
}

.header button:hover:after {
  -webkit-animation: borderLine2 1s linear forwards;
          animation: borderLine2 1s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes borderLine {
  0% {
    width: 0;
    height: 0;
    border-top-color: #fff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #fff;
    border-right-color: #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #fff;
    border-right-color: #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

@keyframes borderLine {
  0% {
    width: 0;
    height: 0;
    border-top-color: #fff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #fff;
    border-right-color: #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #fff;
    border-right-color: #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

@-webkit-keyframes borderLine2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #fff;
    border-bottom-color: transparent;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #fff;
    border-bottom-color: #fff;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #fff;
    border-bottom-color: #fff;
  }
}

@keyframes borderLine2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #fff;
    border-bottom-color: transparent;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #fff;
    border-bottom-color: #fff;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #fff;
    border-bottom-color: #fff;
  }
}

.bottom-bar {
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.bottom-bar h6 {
  font-weight: bolder;
  text-transform: uppercase;
}

.bottom-bar p {
  font-style: 14px;
  font-weight: lighter;
}

.row {
  padding: 2.6em 2.6em 2em 2.6em;
  background: #000;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  top: 0%;
}

.overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
}
/*# sourceMappingURL=main.css.map */